body { background: #f53739; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 26px; display: flex; }
.block-sms-0 { color: #87dbe1; font-size: 17px; margin-bottom: 5px; }
.block-uploader-1 { color: #e9f098; font-size: 18px; margin-bottom: 5px; }
.block-order-2 { color: #61e86; font-size: 13px; margin-bottom: 5px; }
.block-search-3 { color: #6a4dd; font-size: 14px; margin-bottom: 5px; }
.block-helper-4 { color: #fd0a77; font-size: 14px; margin-bottom: 5px; }